#successes{
  margin-left: 20px;
  margin-top: 20px;
  padding: -20px;

}

.special{
  font-weight: 600;
  text-emphasis: 20px;
}

<<<<<<< HEAD
#variable{
  font-family: monospace;
  font-style: italic;
}

#picture{

}

.jumbotron{
  padding: 15px;
}
@media (max-width: 991px){
  #picture{
    margin-bottom: 10px;
  }
=======
.jumbotron{
  background-color: #00AB00;
}

.panel-heading{
  background-color: ;
>>>>>>> green_palette
}
