#successes{
  margin-left: 20px;
  margin-top: 20px;
  padding: -20px;
}

.special{
  font-weight: 600;
  text-emphasis: 20px;
}

#variable{
  font-family: monospace;
  font-style: italic;
}

@media (max-width: 991px){
  #picture{
    margin-bottom: 20px;
  }
}

.jumbotron{
  background-color: #cfe0e8;
  padding: 15px;
}

.well{
  background-color: #b7d7e8;
}

#panel-title{
  /*background-color: #FF6D61;*/
  height: 25px;
  padding: 0px;
}
