#successes{
  margin-left: 20px;
  margin-top: 20px;
  padding: -20px;

}

.special{
  font-weight: 600;
  text-emphasis: 20px;
}

.jumbotron{
  background-color: #0EDB32;
}

.well{
  background-color: #59EA72;
}
#panel-title{
  /*background-color: #FF6D61;*/
  height: 25px;
  padding: 0px;

}
